<%= render 'books/list', user: @user %>

<p>～～～～～ここから右～～～～～</p>

<h1>Books</h1>
<h2>Title</h2>
<h2>Opinion</h2>

  <% @books.each do |book| %>
    <div>
      <%= book.title %>
      <%= book.body %>
    </div>
  <% end %>
  