<h1>ここにテンプレ</h1>
～～～～～ここから右側～～～～～

<div>
  <h1>Book detail</h1>
  <p>プロフィール画像</p>
  <%= @book.user.name %></br>
  <%= @book.user.introduction %></br>
  <%= link_to "Editリンク",edit_book_path %>
  <%= link_to "Destroy",book_path,method: :delete %>
  
  <p>ボタン＋destroy処理</p>
  
</div>